/* Широкий экран / горизонталь */
@media (min-aspect-ratio: 1/1) {
  .appContainer {
    flex-direction: row;
  }

  .controlSection {
    width: 30vw;
    max-width: 400px; /* ограничение максимальной ширины */
  }
}

/* Узкий экран / вертикаль */
@media (max-aspect-ratio: 1/1) {
  .appContainer {
    flex-direction: column;
  }

  .controlSection {
    width: 100%;
    height: 30vh;
    min-height: 200px;
  }
}

.appContainer {
  display: flex;
  height: 100vh; /* на всю высоту окна */
  width: 100vw;  /* на всю ширину окна */
  margin: 0;
  padding: 0;
  overflow: hidden; /* чтобы не было скролла, если контент выходит */
}

.viewerSection {
  flex: 1; /* занимает всё доступное пространство */
  background-color: #3a3838; /* темный фон для пиксельного вьюпорта */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.controlSection {
  background-color: #8acc8a;
  padding: 20px;
  //box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* если кнопок будет много - появится скролл */
}

.viewerSection canvas {
  width: 100%;
  height: 100%;
  display: block;
}